<sky-modal>
  <sky-modal-header>
    {{ 'modal_add_behavior_training' | skyAppResources }}
  </sky-modal-header>
  <sky-modal-content>
    <sky-fluid-grid [disableMargin]="true">
      <sky-row>
        <sky-column screenSmall="6" screenXSmall="6">
          <div class="sky-form-group">
            <label class="sky-control-label">
              {{ 'add_behavior_training_source' | skyAppResources }}
            </label>
            <select
            [(ngModel)]="source"
            id="source-dropdown"
            class="sky-form-control"
            data-sky-id="source-dropdown"
            (change)="onSourceChanged()">
            <option *ngFor="let source of sources" [ngValue]="source">
              {{ source }}
            </option>
            </select>
          </div>
        </sky-column>
        <sky-column screenSmall="6" screenXSmall="6">
          <div class="sky-form-group">
            <label class="sky-control-label">
              {{ 'add_behavior_training_category' | skyAppResources }}
            </label>
            <select
            [(ngModel)]="category"
            id="category-dropdown"
            class="sky-form-control"
            data-sky-id="category-dropdown"
            (change)="onCategoryChanged()">
            <option *ngFor="let category of categories" [ngValue]="category">
              {{ category.name }}
            </option>
            </select>
          </div>
        </sky-column>
      </sky-row>
      <sky-row *ngIf="!ratingDataTypeEnum">
        <sky-column screenSmall="12" screenXSmall="12">
          <div class="sky-form-group">
            <label class="sky-control-label">
              {{ 'add_behavior_training_value' | skyAppResources }}
            </label>
            <input disabled="true" class="sky-form-control" id="rating-description" type="text"/>
          </div>
          </sky-column>
      </sky-row>
      <sky-row *ngIf="ratingDataTypeEnum">
        <sky-column screenSmall="12" screenXSmall="12">
        <div class="sky-form-group">
          <label class="sky-control-label">
            {{ 'add_behavior_training_value' | skyAppResources }}
          </label>
          <span [ngSwitch]="ratingDataTypeEnum">
            <!--None selected -->
            <input *ngSwitchDefault disabled="true" class="sky-form-control" id="rating-description" type="text"/>
            <!--Unknown = 0 -->
            <input *ngSwitchCase="0" class="sky-form-control" id="rating-description" type="text" />
            <!--Text = 1 -->
            <input [(ngModel)]="textCategoryValue" *ngSwitchCase="1" class="sky-form-control" id="rating-description" type="text"
            #textCategoryValueField="ngModel"/>
            <!--Number = 2 -->
            <input [(ngModel)]="numberCategoryValue" *ngSwitchCase="2" class="sky-form-control" id="rating-description" type="text"
              [skyAutonumeric]="numberValueOptions"  #numberCategoryValueField="ngModel"/>
            <!--Date = 3 -->
            <sky-datepicker *ngSwitchCase="3">
              <input [(ngModel)]="dateCategoryValue" id="rating-description" class="sky-form-control" skyDatepickerInput
              #dateCategoryValueField="ngModel"/>
            </sky-datepicker>
            <!--Currency = 4 -->
            <input [(ngModel)]="currencyCategoryValue" *ngSwitchCase="4" class="sky-form-control" id="rating-description" type="text"
              [skyAutonumeric]="currencyValueOptions" #currencyCategoryValueField="ngModel"/>
            <!--Boolean = 5 -->
            <select  [(ngModel)]="booleanCategoryValue" *ngSwitchCase="5" class="sky-form-control" id="rating-description">
              <option *ngFor="let booleanOption of booleanValueOptions" [ngValue]="booleanOption.value">
                {{ booleanOption.label | skyLibResources }}
              </option>
            </select>
             <!--CodeTableEntry = 6 -->
             <select [(ngModel)]="codeTableCategoryValue" *ngSwitchCase="6" class="sky-form-control" id="rating-description">
             <option *ngFor="let categoryValue of categoryValues" [ngValue]="categoryValue">
               {{ categoryValue }}
              </option>
           </select>
          </span>
        </div>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
    <div>
      <sky-checkbox class="add-note-to-constituent" [checked]="addConstituentRating" (change)="addConstituentRatingEnabled($event)">
        <sky-checkbox-label>{{ 'add_medical_history_add_note_to_constituent_label' | skyAppResources }}</sky-checkbox-label>
      </sky-checkbox>
    </div>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      class="sky-btn sky-btn-primary"
      type="button"
      (click)="save()"
    >
      {{ 'btn_modal_save' | skyAppResources }}
    </button>
    <button
      class="sky-btn sky-btn-link"
      type="button"
      (click)="cancel()"
    >
      {{ 'btn_modal_cancel' | skyAppResources }}
    </button>
  </sky-modal-footer>
</sky-modal>
