<sky-modal>
  <sky-modal-header>
    {{ 'modal_add_behavior_training' | skyAppResources }}
  </sky-modal-header>
  <sky-modal-content>
    <sky-fluid-grid [disableMargin]="true">
      <sky-row>
        <sky-column screenSmall="6" screenXSmall="6">
          <div class="sky-form-group">
            <label class="sky-control-label">
              {{ 'add_behavior_training_source' | skyAppResources }}
            </label>
            <select
              [(ngModel)]="source"
              class="sky-form-control"
              data-sky-id="behavior-training-source"
              (change)="onSourceChanged()">
              @for (source of sources; track source) {
                <option [ngValue]="source">
                  {{ source }}
                </option>
              }
            </select>
          </div>
        </sky-column>
        <sky-column screenSmall="6" screenXSmall="6">
          <div class="sky-form-group">
            <label class="sky-control-label">
              {{ 'add_behavior_training_category' | skyAppResources }}
            </label>
            <select
              [(ngModel)]="category"
              class="sky-form-control"
              data-sky-id="behavior-training-category"
              (change)="onCategoryChanged()">
              @for (category of categories; track category) {
                <option [ngValue]="category">
                  {{ category.name }}
                </option>
              }
            </select>
          </div>
        </sky-column>
      </sky-row>
      @if (!ratingDataTypeEnum) {
        <sky-row>
          <sky-column screenSmall="12" screenXSmall="12">
            <div class="sky-form-group">
              <label class="sky-control-label">
                {{ 'add_behavior_training_value' | skyAppResources }}
              </label>
              <input disabled="true" class="sky-form-control" type="text"/>
            </div>
          </sky-column>
        </sky-row>
      }
      @if (ratingDataTypeEnum) {
        <sky-row>
          <sky-column screenSmall="12" screenXSmall="12">
            <div class="sky-form-group">
              <label class="sky-control-label">
                {{ 'add_behavior_training_value' | skyAppResources }}
              </label>
              <span>
                @switch (ratingDataTypeEnum) {
                  <!--None selected -->
                  @default {
                    <input disabled="true" class="sky-form-control" data-sky-id="behavior-training-category-value" type="text"/>
                  }
                  <!--Unknown = 0 -->
                  @case (0) {
                    <input class="sky-form-control" data-sky-id="behavior-training-category-value" type="text" />
                  }
                  <!--Text = 1 -->
                  @case (1) {
                    <input [(ngModel)]="textCategoryValue" class="sky-form-control" data-sky-id="behavior-training-category-value" type="text"
                      #textCategoryValueField="ngModel"/>
                  }
                  <!--Number = 2 -->
                  @case (2) {
                    <input [(ngModel)]="numberCategoryValue" class="sky-form-control" data-sky-id="behavior-training-category-value" type="text"
                      [skyAutonumeric]="numberValueOptions"  #numberCategoryValueField="ngModel"/>
                  }
                  <!--Date = 3 -->
                  @case (3) {
                    <sky-datepicker>
                      <input [(ngModel)]="dateCategoryValue" data-sky-id="behavior-training-category-value" class="sky-form-control" skyDatepickerInput
                        #dateCategoryValueField="ngModel"/>
                      </sky-datepicker>
                    }
                    <!--Currency = 4 -->
                    @case (4) {
                      <input [(ngModel)]="currencyCategoryValue" class="sky-form-control" data-sky-id="behavior-training-category-value" type="text"
                        [skyAutonumeric]="currencyValueOptions" #currencyCategoryValueField="ngModel"/>
                    }
                    <!--Boolean = 5 -->
                    @case (5) {
                      <select  [(ngModel)]="booleanCategoryValue" class="sky-form-control" data-sky-id="behavior-training-category-value">
                        @for (booleanOption of booleanValueOptions; track booleanOption) {
                          <option [ngValue]="booleanOption.value">
                            {{ booleanOption.label | skyLibResources }}
                          </option>
                        }
                      </select>
                    }
                    <!--CodeTableEntry = 6 -->
                    @case (6) {
                      <select [(ngModel)]="codeTableCategoryValue" class="sky-form-control" data-sky-id="behavior-training-category-value">
                        @for (categoryValue of categoryValues; track categoryValue) {
                          <option [ngValue]="categoryValue">
                            {{ categoryValue }}
                          </option>
                        }
                      </select>
                    }
                  }
                </span>
              </div>
            </sky-column>
          </sky-row>
        }
      </sky-fluid-grid>
      <div>
        <sky-checkbox [checked]="addConstituentRating" (change)="addConstituentRatingEnabled($event)">
          <sky-checkbox-label>{{ 'add_medical_history_add_note_to_constituent_label' | skyAppResources }}</sky-checkbox-label>
        </sky-checkbox>
      </div>
    </sky-modal-content>
    <sky-modal-footer>
      <button
        class="sky-btn sky-btn-primary"
        type="button"
        (click)="save()"
        >
        {{ 'btn_modal_save' | skyAppResources }}
      </button>
      <button
        class="sky-btn sky-btn-link"
        type="button"
        (click)="cancel()"
        >
        {{ 'btn_modal_cancel' | skyAppResources }}
      </button>
    </sky-modal-footer>
  </sky-modal>
