<app-nav>
</app-nav>

<sky-hero overlayOpacity="0.4" backgroundImageUrl="/assets/img/white-short-coated-dog-160846.jpg">
  <sky-hero-heading heroTextColor="#efefef">
    Barkbaud
  </sky-hero-heading>
  <sky-hero-subheading heroTextColor="#efefef">
    SKY Developer Demo Application
  </sky-hero-subheading>
</sky-hero>

<app-page>
  <sky-fluid-grid
    disableMargin="true"
    >
    <sky-row>
      <sky-column
        screenMedium="6"
        >
        <h2 class="sky-section-heading">
          Welcome@if (user) {
          <span> {{ user.given_name }}</span>
          }!
        </h2>
        <p>Welcome to Barkbaud, Blackbaud's Open Source application highlighting the <a href="https://developer.blackbaud.com">SKY Developer platform</a>. It is built on the <abbr title="Mongo, Express, Angular, and NodeJS">MEAN</abbr> stack and includes examples of <a href="https://developer.blackbaud.com/skyapi">SKY API</a>, <a href="https://developer.blackbaud.com/skyapi/docs/addins">SKY Add-ins</a>, and <a href="https://developer.blackbaud.com/skyux">SKY UX</a>.</p>
        <p>Feel free to poke around or checkout the <a href="https://github.com/blackbaud/barkbaud/">README</a> for more information, including how to run the application yourself.</p>
      </sky-column>
      <sky-column
        screenMedium="6"
        >
        <h2 class="sky-section-heading">
          Getting started
        </h2>
        <sky-alert
          alertType="info"
          >
          Barkbaud uses the <a href="https://developer.blackbaud.com/skyapi/docs/authorization/auth-code-flow">authorization code flow</a> to securely access your Blackbaud data.
        </sky-alert>
        @if (user) {
          <p>
            <a
              class="sky-btn sky-btn-primary sky-margin-inline-default"
              routerLink="/dogs"
              >
              {{ 'btn_dashboard' | skyAppResources }}
            </a>
            <app-logout
              [isPrimaryButton]="false"
              >
            </app-logout>
          </p>
        }
        @if (!user) {
          <p>
            <a
              class="sky-btn sky-btn-primary"
              [href]="loginUri"
              >
              {{ 'btn_login' | skyAppResources }}
            </a>
          </p>
        }
      </sky-column>
    </sky-row>
  </sky-fluid-grid>
</app-page>
