<sky-tile>
  <sky-tile-title>
    {{ 'tile_title_previous_homes' | skyAppResources }}
  </sky-tile-title>
  <sky-tile-summary>
    {{ ownersValidLength }}
  </sky-tile-summary>
  <sky-tile-content>
    <app-loading
      [isLoading]="isLoading"
    >
      <sky-repeater>
        <ng-container *ngFor="let owner of owners">
          <sky-repeater-item *ngIf="owner.constituent">
            <sky-repeater-item-content>
              <div class="pull-left">
                <a *ngIf="owner.constituentLink"
                  [href]="owner.constituentLink"
                >
                  {{ owner.constituent.name }}
                </a>
                <span *ngIf="!owner.constituentLink">
                  {{ owner.constituent.name }}
                </span>
              </div>
              <div class="pull-right">
                {{ owner.fromDate | skyDate:'shortDate' }} to {{ owner.toDate | skyDate:'shortDate' }}
              </div>
            </sky-repeater-item-content>
          </sky-repeater-item>
        </ng-container>
      </sky-repeater>
    </app-loading>
  </sky-tile-content>
</sky-tile>
