<sky-tile>
  <sky-tile-title>
    {{ 'tile_title_previous_homes' | skyAppResources }}
  </sky-tile-title>
  <sky-tile-summary>
    {{ ownersValidLength }}
  </sky-tile-summary>
  <sky-tile-content>
    <app-loading
      [isLoading]="isLoading"
      >
      <sky-repeater>
        @for (owner of owners; track owner) {
          @if (owner.constituent) {
            <sky-repeater-item>
              <sky-repeater-item-content>
                <div class="pull-left">
                  @if (owner.constituentLink) {
                    <a
                      [href]="owner.constituentLink"
                      >
                      {{ owner.constituent.name }}
                    </a>
                  }
                  @if (!owner.constituentLink) {
                    <span>
                      {{ owner.constituent.name }}
                    </span>
                  }
                </div>
                <div class="pull-right">
                  {{ owner.fromDate | skyDate:'shortDate' }} to {{ owner.toDate | skyDate:'shortDate' }}
                </div>
              </sky-repeater-item-content>
            </sky-repeater-item>
          }
        }
      </sky-repeater>
    </app-loading>
  </sky-tile-content>
</sky-tile>
