<sky-tile>
  <sky-tile-title>
    {{ 'tile_title_medical_history' | skyAppResources }}
  </sky-tile-title>
  <sky-tile-summary *ngIf="medicalHistory">
    {{ medicalHistory.length }}
  </sky-tile-summary>
  <sky-tile-content>
    <sky-toolbar>
      <sky-toolbar-item>
        <button
          class="sky-btn sky-btn-default"
          type="button"
          (click)="openAddModal()"
        >
          <sky-icon
            icon="plus-circle"
          >
          </sky-icon>
          {{ 'btn_add_medical_history' | skyAppResources }}
        </button>
      </sky-toolbar-item>
    </sky-toolbar>
    <app-loading
      [isLoading]="isLoading"
    >
      <sky-repeater>
        <sky-repeater-item *ngFor="let medicalHistoryItem of medicalHistory">
          <sky-repeater-item-title>
            <div class="pull-left">
              {{ medicalHistoryItem.title }}
            </div>
            <div class="pull-right">
              {{ medicalHistoryItem.date | skyDate:'mediumDate' }}
            </div>
          </sky-repeater-item-title>
          <sky-repeater-item-content>
            {{ medicalHistoryItem.description }}
          </sky-repeater-item-content>
        </sky-repeater-item>
      </sky-repeater>
    </app-loading>
  </sky-tile-content>
</sky-tile>
