@import 'node_modules/@skyux/theme/scss/mixins';
@import 'node_modules/@skyux/theme/scss/variables';

.app-navbar ::ng-deep .sky-navbar {
  display: flex;
}

.app-navbar .app-navbar-right {
  margin-left: auto;
}

.app-info {
  display: flex;
  padding: $sky-padding-squish-default;
}

.app-info .app-info-envid {
  margin-left: auto;
}
