<h2 class="sky-section-heading">
  {{ 'heading_dashboard' | skyAppResources }}
</h2>

<sky-card *ngFor="let dog of dogs"
>
  <sky-card-content>
    <sky-fluid-grid
      disableMargin="true"
    >
      <sky-row>
        <sky-column screenXSmall="7">
          <h3 class="app-dog-card-title">{{ dog.name }}</h3>
          <ul class="app-dog-card-info">
            <li>{{ dog.breed }}</li>
            <li>{{ dog.gender }}</li>
          </ul>
        </sky-column>
        <sky-column screenXSmall="5">
          <div class="app-dog-card-avatar">
            <sky-avatar
              [name]="dog.name"
              [src]="'data:image/png;base64,' + dog.image.data"
            >
            </sky-avatar>
          </div>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
    <p class="app-dog-card-bio">
      <sky-text-expand
        [text]="dog.bio"
        maxLength="350">
      </sky-text-expand>
    </p>
  </sky-card-content>
  <sky-card-actions>
    <a
      [routerLink]="[dog._id]"
      class="sky-btn sky-btn-default"
    >
      {{ 'btn_profile' | skyAppResources }}
    </a>
  </sky-card-actions>
</sky-card>
<!--
<sky-repeater
  expandMode="none"
>
  <sky-repeater-item *ngFor="let dog of dogs"
  >
    <sky-repeater-item-title class="app-repeater-item-title">
      <div>
        {{ dog.name }}
      </div>
      <div>
        {{ dog.breed }}
      </div>
    </sky-repeater-item-title>
    <sky-repeater-item-content>
      <sky-fluid-grid>
        <sky-row>
          <sky-column
            screenSmall="3"
          >
            <sky-avatar
              [name]="dog.name"
              [src]="'data:image/png;base64,' + dog.image.data"
            >
            </sky-avatar>
          </sky-column>
          <sky-column
            screenSmall="3"
          >
            <h3 class="sky-headline">
              <a
                [routerLink]="['dogs', dog._id]"
              >
                {{ dog.name }}
              </a>
            </h3>
          </sky-column>
          <sky-column
            screenSmall="3"
          >
            <sky-key-info>
              <sky-key-info-value>
                {{ dog.gender }}
              </sky-key-info-value>
              <sky-key-info-label>
                Gender
              </sky-key-info-label>
            </sky-key-info>
          </sky-column>
          <sky-column
            screenSmall="3"
          >
            <sky-key-info>
              <sky-key-info-value>
                {{ dog.breed }}
              </sky-key-info-value>
              <sky-key-info-label>
                Breed
              </sky-key-info-label>
            </sky-key-info>
          </sky-column>
        </sky-row>
        <sky-row>
          <sky-column
            screenSmall="12"
          >
            <p>{{ dog.bio }}</p>
          </sky-column>
        </sky-row>
      </sky-fluid-grid>
    </sky-repeater-item-content>
  </sky-repeater-item>
</sky-repeater> -->
